*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1 rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background:  url('images/yoha.jpeg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    //////
}
.main{
    display: flex;
    flex-direction: column;
   /* border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    text-decoration: none;
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;

}

/* About Section */
#about{
    display: flex;
    background: url('images/bg.jpg') no-repeat;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3% 10% 5%;
    margin-bottom: 1%;
}
#pic{
    display: flex;
}
#pic img{
    width: 400px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 2%;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Portifolio Section  */
#photography{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    align-items: center;
    padding: 20px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

/* Services Section  */
#services{
    display: flex;
    flex-direction: column;
    padding: 1% 7%;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(255,45,45)  50%, white 50%);
    background-size: 100% 200%;
    transition: all .7s;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(255, 45, 45);
}
.box img{
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 10px;
    border-radius: 50%
}

/* Contact Section  */

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
}
/* see this section */
form{
    width: 65%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.contact h1{
  margin-top: 0;
  font-weight: 200;
}
.txtb{
  width: 60%;
  border:1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label{
  display: block;
  text-align: left;
  color: white;
  text-transform: normal;
  font-size: 14px;
}
.txtb input, .txtb textarea{
  width: 100%;
  color: white;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.send{
    text-align: center;
    text-decoration: none;
    margin-top: 8px;
    width: 40%;
    padding: 10px 35px;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    transition: .6s ease;
}
.send:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

/* footer section */
.bottom-container{

  color: #405151;
  margin: 0;
  text-align: center;
  color: inherit;
  margin-left: auto;
}
.footer{
  background-color: rgba(0, 0, 0, 0.9);
  padding:50px 0 50px;
  text-align: center;
}
.footer a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
.footer a:hover{
  color: #EAF6F6;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 25px 0;
}

/* Tablet-media tool */
@media screen and (max-width:800px){
  /* Navbar */
  .navbar ul{
    flex-wrap: wrap;
    justify-content: center;
  }
  /* Heading Section */
  .headings{
    font-size: 2.5rem;
  }
  /* About section*/
  #pic{
    flex-direction:column;
    align-items: center;
  }
  #pic img{
    width: 350px;
    height: 350px;
  }
  #intro h2{
    text-align: center;
    padding: 10px
  }
}

/* Mobile media tool */
@media screen and (max-width:530px){
  /*  Home Section */
  #home {
    height: 820px;
  }
  .headings {
    font-size: 1.7rem;
  }

  /* About Section */
  #pic img {
    width: 175px;
    height: 175px;
  }
  #intro h2 {
    font-size: 1.5rem;
  }

  /* Portifolio Section */
  .gallery img {
    width: 250px;
    height: 150px;
    margin: 10px;
  }

  /* Contact Me Section */
  form {
    width: 85%;
  }
  .contact h1 {
    margin-top: 0;
    font-weight: 200;
  }
  .txtb {
    width: 80%;
  }
  .txtb label {
    font-size: 14px;
  }
  .txtb input, .txtb textarea {
    width: 100%;
  }
  .send {
    margin-top: 8px;
    width: 40%;
  }
}
